services:
  nginx:
    image: nginx:latest
    ports:
          - "8080:80"
    volumes:
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf
        - ./yeticave:/var/www/html
  php:
    image: php:8.3.28-fpm
    volumes:
        - ./yeticave:/var/www/html
